body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.half-holder {
  width: 50%;
  padding: 10px;
}

.half-holder:nth-child(2) {
  background: #f2f4f7;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #001246;
}

.nav-links ul li {
  text-decoration-line: underline;
  cursor: pointer;
}
.nav-links ul li:nth-child(2) {
  text-decoration-line: none;
  color: #163ed4;
}

.contact-section {
  width: 100%;
}

.contact-section h4,
.address-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 0;
}

.contact-section h4 > span {
  font-weight: 400;
  font-size: 16px;
  color: #001246;
}

.contact-section h4 > span > a {
  text-decoration-line: underline;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  text-decoration-line: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.contact-form > input,
.shipping-form > input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid #b1b8d0;
  color: #6c7594;
  font-weight: 400;
  font-size: 14px;
}

.contact-form > div > label {
  padding-left: 10px;
}

.contact-form > div,
.save-info-checkbox-and-label-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
}

.contact-form > * {
  width: 100%;
}

.shipping-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  width: 100%;
  padding: 20px;
}

.shipping-form > * {
  width: 100%;
}

.shipping-form > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.shipping-form > div > input {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid #b1b8d0;
  color: #6c7594;
  font-weight: 400;
  font-size: 14px;
}

.continue {
  padding: 15px 32px;
  color: white;
  background: #001246;
  box-shadow: 0px 4px 16px rgba(35, 221, 237, 0.16), 0px 4px 8px -2px #030c28;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.return {
  padding: 15px 32px;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

.save-info-checkbox-and-label-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
}

.save-info-checkbox-and-label-holder > label {
  padding-left: 10px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 100%;
}

.item:last-child {
  border-bottom: 1px solid #ccc;
}

.item img {
  width: 70px;
  height: 70px;
  background: #d5d9e7;
  border: none;
}

.item form input {
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  /* -moz-appearance: textfield; */
  -webkit-appearance: none;
  /* border: none; */
}
.item form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.item button:nth-child(1),
.item button:nth-child(3) {
  font-size: 16px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.item button:nth-child(1):hover,
.item button:nth-child(3):hover {
  background-color: #001246;
  color: #fff;
  transition: 0.5s;
}

.name-and-description {
  padding: 10px;
  display: flex;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.name-and-description span:first-child {
  font-weight: bold;
  font-size: 16px;
}
.name-and-description span:nth-child(2) {
  font-weight: 500;
  font-size: 12px;
}

.promotions-holder {
  width: 100%;
}

.promotion-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.promotion-holder h5 {
  padding: 8px 16px;
  background: #d5d9e7;
  border: 1px solid #213473;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.promotion-holder h5::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url("/images/shopping_cart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.promotion-holder h5 span {
  font-weight: 400;
  padding-left: 10px;
}

.promotion-holder > span {
  font-weight: 600;
  font-size: 16px;
  color: #3c8a3c;
}

.total-order-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  border: 1px solid #b1b8d0;
}

.total-order-holder h4 {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-order-holder h4 span:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.total-order-holder h4:nth-child(2) span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
